<footer class="card">
  <h6 class="card-header">BaskeApp</h6>
  <div class="card-body">
    <%= link_to 'トップページへ', root_path, class:"btn btn-secondary" %>
  <div>
    COPYRIGHT © ZAB Inc. All rights Reserved.
  </div>
</footer>