<%= render 'shared/header' %>
  <button type="button" class=" exchange btn btn-outline-warning">
    <%=link_to  new_item_path do %>
      <%= image_tag 'image/出品.png' , size: '50x50' %>
      <div style="text-decoration: none; color: black;"> 出品 </div>
    <% end %>
  </button>
<%= render 'shared/footer'%>